@import '_includes';
// @import './elements/_navbar';
// @import './elements/_buttons';
@import './elements/_media';
// @import './elements/_tables';
@import './elements/_typography';
// @import './components/_cards';
@import './partials/mobile';

.container{
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 200vh;
}

.container-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50%;
}

.container-top-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.container-top-bottom{
  display: flex;
  flex-direction: row;
  margin-top: auto;
  background-color: blue;
  width: 100%;
  justify-content: center;
}

.pagination{
  display: flex;
  flex-direction: column;

}

.container-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}

.container-bottom-middle{
  display: flex;
  flex-direction: row;
}


