@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import '_includes';
// @import './elements/_navbar';
// @import './elements/_buttons';
@import './elements/_media';
// @import './elements/_tables';
@import './elements/_typography';
// @import './components/_cards';
@import './partials/mobile';

.container{
  display: flex;
  flex-direction: column;
  height: 200vh;
  color: #ffffffff;
}

.container-top{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.container-top-bottom{
  display: flex;
  flex-direction: row;
  margin-top: auto;
  width: 100%;
  justify-content: center;
}

.pagination{
  display: flex;
  flex-direction: column;
}

.container-bottom{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.container-bottom-middle{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container-bottom-left{
  width:50%;
  display: flex;
  flex-direction: column;
}

.container-bottom-left-top{
  margin-right: auto;
  margin-left: auto;
}

.container-bottom-left-middle{
  width: 40%;
  margin-left:auto;
  // text-align: right;
}



.container-bottom-right{
  width:50%;
  display: flex;
  flex-direction: column;
}

.container-bottom-nav ul{
  display: flex;
  flex-direction: row;
}

.container-bottom-bottom
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
