extends templates/_default

block content
    div.container
      //- TOP
      div.container-top
        div.container-top-middle
          span THE
          h1 SKYLINE
          span Movie-inspired Cinematic Openers
          span Exclusively for Final Cut Pro
        div.container-top-bottom
          span SCROLL DOWN
          div.pagination
            span 01/03
            div.progress
      //- BOTTOM
      div.container-bottom

        //- MIDDLE
        div.container-bottom-middle

          //- MIDDLE LEFT
          div.container-bottom-left
            h3  MOVIE-INSPIRED
            h2 TYPOGRAPHY
            span Masterly animated captions allure your viewer with modern motion dsign and introduce a true filmic atmosphere in your edits

          //- MIDDLE RIGHT
          div.container-bottom-right
            div.container-bottom-nav
              ul
                li
                  span WATCH TUTORIAL
                li
                  span WATCH TRAILER
        //- BOTTOM
        div.container-bottom-bottom
          span.previous PREV
          span.next NEXT
