extends templates/_default

block content
    div.container
      div.container-top
        div.container-top-middle
          span THE
          h1 SKYLINE
          span Movie-inspired Cinematic Openers
          span Exclusively for Final Cut Pro
        div.container-top-bottom
          span SCROLL DOWN
          div.pagination
            span 01/03
            div.progress
      div.container-bottom
        div.container-bottom-nav
          ul
            li
              span WATCH TUTORIAL
            li
              span WATCH TRAILER
        div.container-bottom-middle
          div.left
            h3  MOVIE-INSPIRED
            h2 TYPOGRAPHY
            span Masterly animated captions allure your viewer with modern motion dsign and introduce a true filmic atmosphere in your edits
          div.right
            img(src="./assets/images/", alt="sample.jpg")
        div.container-bottom-bottom
          span.previous PREV
          spqn.next NEXT
