extends templates/_default

block content
  div.nav
    nav
      ul
        li Home
        li Layouts
        li Features
        li Portfolio
        li Travel 
        li About me
        li Contact
      div
        small facebook
        small twitter
        small instagram
        small github
        small google
        small search
  