extends templates/_default

block content
  h1 Gulp Starter Rakoto
  p.h1 A simple Gulp 4 Starter Kit for modern web development

  //- img.image(src="/assets/images/sample.jpg" alt="")
  div.card
    div.card-image
      img(src="/assets/images/sample.jpg" class='image-responsive')
    div.card-header 
      p.h1 Hi
    div.card-body
      div 
        p.h2 Hello World
    div.card-footer
      div Hello World

  table(class='table table-striped')
    thead 
      tr
        th Nom
        th Prenom 
        th Age
    tbody
      tr
        td Njiva
        td Niaina
        td 20
      tr
        td Njiva
        td Niaina
        td 20
