nav.navbar
    div.navbar-section
        div.navbar-toggle
            div.line
            div.line
            div.line
        h1.navbar-brand The Legion
    ul.navbar-section
        li.simple Home
        li Layouts
        li Features
