nav.navbar
    div.navbar-section
        div.navbar-toggle
            div.line
            div.line
            div.line
        h1.navbar-brand The Legion
    ul.navbar-section

        li.complexe
          div
            p Maison
            p 576 Element

        li
          div
            p Maison
            p 576 Element

        li
          div
            p Maison
            p 576 Element

